<div class="list-group w-100">
    <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 1</h5>
      </div>
      <p class="mb-1">
        Short & concise version of the answer.
      </p>
      <small><u>Learn more</u></small>
      <!-- Collapsed content -->
      <div class="collapse mt-3" id="shortExampleAnswer1collapse">
        How to Sell
      </div>
    </a>
    <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 2</h5>
      </div>
      <p class="mb-1">
        How to Bid
      </p>
      <small class="text-muted"><u>Learn more</u></small>
      <!-- Collapsed content -->
      <div class="collapse mt-3" id="shortExampleAnswer2collapse">
        
      </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
      aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 3</h5>
      </div>
      <p class="mb-1">
        How to Purchase
      </p>
      <small class="text-muted"><u>Learn more</u></small>
      <!-- Collapsed content -->
      
      
    </a>
  </div>