


 .d-block{
    margin: 0px auto;
    width: 50%;
    height: 400px;
    position: relative;
}
span{
    background-color: black;
}
div.col{
    background-color: black;
}

.top-list{
   width: 150px;
   height:150px;
   margin:10px 10px;
   position: relative;
   
}
.categories-list{
   display: inline;
}
.top-categories-block{
    width: 64px;
}
.top-categories-inner{
   text-align: center;
   margin: 10px 10px;
}
.bid-products{
    height: 200px;
    width: 100%;
}

.card img:hover{
   transition: 0.3s ease-in-out;
   transform: scale(1.1);
}
.card{
    height: 400px;
}
.outer-link img{
    width: 20px;
    margin-right: 20px;
    
  }
  .direct-icon{
    margin-left: -1px;
  }
  
   .outer-link:hover{
    color: #000;
  }
  /* .outer-link p:hover{
    background-color: #5a5a5a;
  } */
  
  .outer-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: #ffffff;
  } 

  .sorting-button{
      margin-left: 88%;
  }
  .dropdown-menu{
      display: block;
      min-width: 6.5rem;
  }
  .subdrop{
      display: none;
      margin-left: 83%;
      margin-top: -35%;
  }
  .dropdown-menu>.dropforprice:hover > .subdrop{
    display: block;
}

