 <nav class="flex-div home">
  <div class="nav-left flex-div">
    <a (click)="menuButtonClickEvent()"><img
      src="assets/align-justify.png"
      class="menu-icon"
      
    /></a>
    <h5><a routerLink=""><b>BiddersDen</b></a></h5>
    <!-- <img src="assets/images/logo.png" class="logo" alt="" /> -->
  </div>

  <div class="nav-middle flex-div">
    <div class="search-box flex-div">
      <form>
        <input type="text" placeholder="Search" [(ngModel)] = "searchData" [ngModelOptions] = "{standalone: true}" required/>
        <button type="submit" (click)="search(searchData,1)">
        <img src="assets/search.png" alt="" />
        </button>
      </form>
      
      <!--img src="assets/images/voice-search.png" class="mic-icon" alt=""> -->
    </div>
  </div>

  <!-- <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification (<b>2</b>)</a>
      <ul class="dropdown-menu notify-drop">
        <div class="notify-drop-title">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">Bildirimler (<b>2</b>)</div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
          </div>
        </div>
        
        <div class="drop-content">
          <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
            
            <hr>
            <p class="time">Şimdi</p>
            </div>
          </li>
          <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
            <p>Lorem ipsum sit dolor amet consilium.</p>
            <p class="time">1 Saat önce</p>
            </div>
          </li>
          <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
            <p>Lorem ipsum sit dolor amet consilium.</p>
            <p class="time">29 Dakika önce</p>
            </div>
          </li>
          <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
            <p>Lorem ipsum sit dolor amet consilium.</p>
            <p class="time">Dün 13:18</p>
            </div>
          </li>
          <li>
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
            <p>Lorem ipsum sit dolor amet consilium.</p>
            <p class="time">2 Hafta önce</p>
            </div>
          </li>
        </div>
        <div class="notify-drop-footer text-center">
          <a href=""><i class="fa fa-eye"></i> Tümünü Göster</a>
        </div>
      </ul>
    </li>
  </ul> -->

  <div *ngIf="authenticated" class="authenticate-check">
    

  

    <div  class="nav-right flex-div">
    <div class="dropdown">
      <div class="dropbtn" >
        <a (click)="toggle()">
          <img src="assets/notification.png" class="user-icon" alt="notification-Icon" />
        </a>
      </div>
      <div class="dropdown-content notification">
        <div *ngFor="let notify of notification" class="notification">
          <div class="notification-size">
            <a (click)="sendNotify(notify)"> {{notify.msg}} </a>
          </div>
          
        </div>
        
      </div>
    </div>
    

    <div class="dropdown">
      <div class="dropbtn" >
        <a routerLink="chat">
          <img src="assets/chat.png" class="user-icon" alt="chat-Icon" />
        </a>
      </div>
      
      <!-- <div class="dropdown-content">
        <p>Chat with us</p>
      </div> -->
    </div>
        
    <div class="dropdown">
      <div class="dropbtn" >
        <a (click)="toggle()">
          <img src="assets/user.png" class="user-icon" alt="user-Icon" />
          
        </a>
        
        
      </div>
      <!-- <div class="dropdown-content">
        <p >{{user.username}}</p>
        <a routerLink="userprofile">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Order</a>
      </div> -->
    </div>

    <div class="dropdown" *ngIf="authenticated">
      <div class="dropbtn" >
        
        <a routerLink="userprofile">
          <p  >{{user.username}}</p>
        </a>
        
        
      </div>
      <!-- <div class="dropdown-content">
        <p >{{user.username}}</p>
        <a routerLink="userprofile">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Order</a>
      </div> -->
    </div>
  
  </div>
  </div>
  
  <div class="language">
    <img src="assets/united-kingdom.png" class="language-icon" alt="english-Icon" />
    <img src="assets/bangladesh.png" class="language-icon" alt="bd-Icon" />
  </div>
</nav>

<!--sidebar-->
<div class="sidebar" [class.small-sidebar]="click == 0">
  <div class="shortcut-links">
    <div class="links">

    
    <a class="outer-link" routerLink="" >
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcRJREFUSEuNle1ZwzAMhF9tkBWYgDJB20mgkwCT0E3SblAmYIVsIB5/xJZsp0/yq4hY5zvdKUJ4BND4qzyx1NVtQRDUH/P/jg2kq3UoHtheoQPoXl0BtlByPbOZUOb8+4yybEG7O457Z/oVYFKYgUM+/AA5C7qsyg5Ujtr3Eo0Rr8B7PFB1D7XLiIVrsWMGuXnvBoGrCpcw6bEpUj0/VvBS+kL57Aabu0U2wjfKVwXwYhkAjwN8AD/ew2Ols1SBaeP6IGlh7g7n5u2BQWQqm4sK1y5PnXbCAZVZ0CkFbfPWLpbRUUKw78PSaGdwQJhRpkFmYtor3CDVwoJyhgySl8TaKzT9g7b5HgZWfFlAXyAF0cyAh8BrCs72ztlyS+PGINPbEwAvUJcVb9MqXX3xlzRLx8AOTa3gT0XqbL+ZA7cGmuW9Z60VbRt39RsgzCAxaP3mYH3y61/2om5dO2ojBtXSaQbmEm7fNBZxhNZcidatWe4WSpaUM1zHoBhhLK/J7wAgnTEsC3vxK33kovRuD+A2bwtQkhNlbG09WJhyAz0acneEUyPRTeBoaNyBU/NRst+D3Vb0X5cuJJs52ALwdtxzDQvxD/O42CJA8DvnAAAAAElFTkSuQmCC"/>
      <P><strong>Home</strong></P>
    </a>
    <a class="outer-link" *ngIf="authenticated" routerLink="sell">
      <img src="assets/shopping-bag.png" />
      <p><strong>Sell</strong></p>
    </a>
    <!-- <a  *ngIf="authenticated" href="#">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAkFJREFUSEuFlY112zAMhL+bINqg2SDOBJEnSDqBO0IyQd0NukHlCdpMEGeCKhO0IyQToA8kJZEi5eo9P+uHBHB3OFD4JcDC3XzfeJUWTGu2VqT32d+8Md+yRMvvhLC5lvLLVGNaUyfIN9dVRIDbJWx9UfjQ+Lp6tUMcMB4E14nNv8Av4ASMK/4Kqi+R32H6CdZPATaYPwOfgfc13xFBmWJaswNegE7wYeKI4YHGxFQv6E08YlyF4GKPaVx0EgVFSzLtwELwRMFjrK7JtK/xxDeId4z9Qpnr2mxNnYXdWeT3S7tbiredsLN5kpjMk8yh1x3Zg17APoDrgteIIGc0B+VIXHina484O/e1BmLAOADfgOM6uzxDZCqiL/UbgIPgZAl5kSBhGrEAda5iZYGEQGqYzhvjd9LgdmK/rCLtEqjlj7n2iaiY3YFNdGUUFl2kAcypCY4NecQJK0VeurroqJwuT+D6dTHOcsV2EzfJGG+AGyyap+rQ5lwKFAleLe6thNpZaLMQrUe4HvFpa+KWiY+gr8IuiDypD0NJ84bll7nYmfiDBXO6D9wPpdEqKvKhWiGoOAstCrwGaqe9C/wmp+7iO+CpHhVz9g7jB/CQxPUZNZZubMwLgUN2DT4lob+DnsGm0eyC3gM+p5wW7xwXdlyDXZs1f/aNg+C+nrgFRc8pkY+Kwt/FsKusv8TwysJP4J12BXpLaJz7c6OLZ+81EVw4J7ZPzrwpshl1iaLc1cvJdHFHiSVzcnno54Ps/2i2XfgPSXT1H5ZmudMAAAAASUVORK5CYII="/>
      
      <p><strong>Bid History</strong> </p>
    </a> -->
  </div>
    
    <!-- <ul class="category-menu">
      <li>
        <a  class="outer-link" href="#">
          <img src="assets/categories.png" />
          <p><strong>Categories</strong></p>
          <img class="direct-icon" src="assets/direction.png" /> 
        </a>
        <ul class="submenu">
          <li><a class="direct-icon" (click)="getCategoricalProducts('Electronics')">Electronics
          <img class="direct-icon" src="assets/direction.png" />
          </a>
            <ul class="submenu2">
              <li><a (click)="getCategoricalProducts('Electronics,Desktop')">Desktop</a></li> <hr>
              <li><a (click)="getCategoricalProducts('Electronics,Laptops')">Laptops</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Smartphones')">Smartphones</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Accessories')">Accessories</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Tablet')">Tablet</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Bikes')">Bikes</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Cars')">Cars</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Fridge')">Fridge</a></li><hr>
              <li><a (click)="getCategoricalProducts('Electronics,Television')">Television</a></li>
            </ul>
          </li>
          <hr>
          <li><a (click)="getCategoricalProducts('Foods')">Foods</a></li><hr>
          <li><a (click)="getCategoricalProducts('Cloths')">Cloths
            <img class="direct-icon" src="assets/direction.png" />
          </a>
            <ul class="submenu2">
              <li><a (click)="getCategoricalProducts('Cloths,Men')">Men</a></li> <hr>
              <li><a (click)="getCategoricalProducts('CLoths,Women')">Women</a></li><hr>
              <li><a (click)="getCategoricalProducts('Cloths,Kids')">Kids</a></li><hr>
              
            </ul>
          </li><hr>
          <li><a (click)="getCategoricalProducts('Hardware Accessories')">Hardware Accessories</a></li><hr>
          <li><a (click)="getCategoricalProducts('Beauty & Cosmetics')">Beauty & Cosmetics</a></li><hr>
          <li><a (click)="getCategoricalProducts('Sports')">Sports</a></li><hr>
          <li><a (click)="getCategoricalProducts('Books')">Books</a></li>
        </ul>
      </li>
    </ul>
    
     -->

    <!-- <ul class="category-menu">
      <li>
        <a class="outer-link" href="#">
          <img src="assets/sort.png" />
          <p><strong>Sorting</strong></p>
          <img class="direct-icon" src="assets/direction.png" />
        </a>
        <ul class="submenu">
          <li><a href="#">By price
            <img class="direct-icon" src="assets/direction.png" /> 
          </a>
            <ul class="submenu2">
              <li><a (click)="sorting(1)" >Lower to higher</a></li>  
              <hr>
              <li><a (click)="sorting(0)" >Higher to lower</a></li>
              
            </ul>
          </li>
          <hr>
          <li><a (click)="sorting(2)">By name</a></li>
          <hr>
          <li><a (click)="sorting(3)">By date</a></li>
          
        </ul>
      </li>
    </ul> -->
    <a class="outer-link" routerLink="../faq" data-toggle="tooltip" data-placement="bottom" title="know more about us">
      <img src="assets/about.png" />
      <p><strong>FAQ</strong></p>
    </a>

    <a class="outer-link" *ngIf = "!authenticated" (click) = "login()">
      <img src="assets/login.png" />
      <p><strong>Sign in</strong></p>
    </a>
    <a class="outer-link" *ngIf = "authenticated" routerLink="../signin" (click) = "logout()"
      ><img src="assets/login.png" />
      <p><strong>Sign Out</strong></p>
    </a>
                        
    <hr />
  </div>
</div>

<!-- <div class="timer flex-div">
  <div class="flex-div">
    <p class="days time">{{day}}</p>
    <p class="hours time">{{hour+':'}}</p>
    <p class="mins time">{{mins+':'}}</p>
    <p class="seconds time">{{sec}}</p>
    <p class="ampm time">{{ampm}}</p>
  </div>
</div> -->
