 /*nav bar compononent css*/
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', 'sans-sherif';
  box-sizing: border-box;
} 

:root {
  --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}


.flex-div{
  align-items: center;
  display: flex;
}
nav{
  padding-left: 1%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(156, 224, 233, 0.705);
}
.nav-right button{
  margin-right: 25px;
  
  color: aqua;
  height: 30px;
  width: 80px;
}
.nav-right{
  margin-left: 3%;
}
.nav-right .user-icon{
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
div.language{
  margin-left: 7px;
  display: flex !important;
}
.language .language-icon{
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.nav-left .logo{
  width: 130px;
  height: 30px;
}

/*.nav-middle .mic-icon{
  width: 16px;
}*/
div.nav-middle{
  margin-left: 25%;
}
.nav-middle .search-box{
  border: 1px solid rgb(172, 184, 216);
  margin-right: 45px;
  padding: 8px 12px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.nav-middle .search-box input{
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
  
}

.nav-middle .search-box img{
  width: 15px;
}

.nav-left .menu-icon{
  width: 22px;
  margin-right: 25px;
  
}

form{
  display: flex;
}

/*sidebar component css*/

.sidebar{
  background-color: rgb(69, 124, 129);
  width: 13%;
  height: 150vh;
  position: fixed;
  top: 0;
  padding-left: 1%;
  padding-top: 80px;
  display: block;
  
}
 .shortcut-links{
  margin-top: 10px;
} 

.outer-link img{
  width: 20px;
  margin-right: 20px;
  
}
.direct-icon{
  margin-left: -1px;
}

 .outer-link:hover{
  color: #000;
}
/* .outer-link p:hover{
  background-color: #5a5a5a;
} */

.outer-link{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  color: #ffffff;
} 

/* .shortcut-links a:first-child{
  color: #ed3833;
} */

.shortcut-links hr{
  border: 0;
  height: 1px;
  background: #5a5a5a;
  width: 85%;
}

.small-sidebar{
  width: 5%;
}

.small-sidebar a p{
  display: none;
}
.sidebar a:hover{
  
  color: #251816;
  
}



.small-sidebar hr{
  width: 50%;
  margin-top: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dropbtn {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(237, 214, 241);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-menu li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-20px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(90deg);
} 

.category-menu >li,.category-menu>a{
  display: inline-block;
}
.category-menu a{
  text-decoration: none;
  color: #fff;
  
}
.category-menu a:hover{
  
  color: rgb(250, 246, 246);
} 
.category-menu>li:hover>.submenu li:hover{
  background-color: #7b8488;
  color: rgb(255, 255, 255);
}


.submenu{
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 70%;
  left: 70%;
  height: auto;
  display: none;
}
.submenu li,.submenu2 li{
  
  color: #ffffff;
  background-color: #181313;
  padding-left: 10%;
}
.submenu2{
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 92%;
  height: 100%;
  left: 90%;
  top: 0;
  display: none;
}
.submenu>ul>li>a:hover{
  background-color: rgb(214, 46, 46);
  /* text-decoration: underline; */
  color: #912222;
  background-size: 50%;
}
.submenu2>ul>li>a:hover{
  background-color: rgb(209, 43, 43);
  /* text-decoration: underline; */
  color: #e9dada;
  background-size: 95%;
  
}
.category-menu>li:hover>.submenu{
  margin-top: -15%;
  display: block;
  size: 15%;
  border: 1px solid rgb(255, 255, 255);
} 
.submenu>li:hover>.submenu2{
  display: block;
  size: 15%;
  border: 1px solid rgb(255, 255, 255);
} 
ul{
  list-style: none;
}
.timer{
  display: block;
  border: 1px solid rgb(253, 239, 239);
  box-shadow: 2px 2px 2px 2px rgb(139, 130, 179);
  position: fixed;
  height: 5%;
  margin-top: 1%;
  margin-left: 14%;
  background-color: #ddecf3;
  width: 10%;
}
.time{
  margin-left: 1.5%;
  padding-top: 2%;
  font-size: 13px;
  color: rgb(100, 61, 95);
}











/* .navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
} */

/* .dropdown:hover .dropbtn {
  background-color: #c3dbc4;
} */

/*
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



input[type=text], input[type=password] {
  width: 300px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.nav-button{
  margin: 10px 10px;
  position: relative;
}


button {
  background-color: #85dce7;
  color: rgb(0, 0, 0);
  padding: 14px -5px;
  margin: 23px 5px;
  border: none;
  cursor: pointer;
  width: auto;
  height: 40px;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  color: #474e5d;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 312px;
  top: 10px;
  width: 511px;
  height: auto;
  background-color: #474e5d;
  padding-top: 34px;
}


.modal-content {
  background-color: #fefefe;
  margin: -22px 4px; 
  border: 32px solid #888;
  width: 100%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 50%;
     height: 40px;
     
  }
}
.navbar-brand{
  color: crimson;
}
.search-box{
  width: 600px;
  height: 40px;
  margin: 23px;
}

.container-fluid{
  height: 50px;
  background-color: rgba(120, 112, 226, 0.342);
}
#search {
  background-image: "assets/search.png";
  background-repeat: no-repeat;
  
}
.nav-icon{
  width: 25px;
  height: 25px;
  margin: 15px 5px;
} 
*/
