
.col-xl-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .ml-2{
      margin-left: 2%;
  }
  .chat-messages{
      min-height: 400px;
      max-height: 400px;
      overflow-y: scroll;
  }
  .chat-message-right{
      padding-left: 51%;
  }
  .chat-message-left{
    padding-right: 49%;
}
.ml-20{
    margin-left: 85%;
}