<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="">Recover your password</h2>
                  
                  <div >
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                       
                        <label for="">Enter new password</label>
                        <input id="new-password" name="new-password"  class="form-control"  type="password" required><br>
                        <label for="">Confirm Password</label>
                        <input id="confirm-password" name="confirm-password"  class="form-control"  type="password" required>
                    
                      </div>
                      <div class="form-group">
                        <input name="submit" class="btn btn-secondary" value="Submit" type="submit">
                      </div>
                      
                      
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
