<nav class="flex-div home">
    <div class="nav-left flex-div">
      <a (click)="menuButtonClickEvent()"><img
        src="assets/align-justify.png"
        class="menu-icon"
        
      /></a>
      <h5><a routerLink=""><b>BiddersDen</b></a></h5>
      <!-- <img src="assets/images/logo.png" class="logo" alt="" /> -->
    </div>

  
    
  
    <div class="authenticate-check">
      
  
    
  
      <div  class="nav-right flex-div">
      
          
      <div class="dropdown">
        <div class="dropbtn" >
          <a (click)="toggle()">
            <img src="assets/login.png" class="user-icon" alt="user-Icon" />
            
          </a>
          
          
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn" >
          <a (click)="logout()">
            <img src="assets/icons/turn-off.png" class="user-icon" alt="user-Icon" />
            
          </a>
          
          
        </div>
      </div>

      </div>
    
    </div>

  </nav>
  
  <!--sidebar-->
  <div class="sidebar" [class.small-sidebar]="click == 0">
    <div class="shortcut-links">
      <div class="links">
  
      
      <a class="outer-link" routerLink="../admin-home" >
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcRJREFUSEuNle1ZwzAMhF9tkBWYgDJB20mgkwCT0E3SblAmYIVsIB5/xJZsp0/yq4hY5zvdKUJ4BND4qzyx1NVtQRDUH/P/jg2kq3UoHtheoQPoXl0BtlByPbOZUOb8+4yybEG7O457Z/oVYFKYgUM+/AA5C7qsyg5Ujtr3Eo0Rr8B7PFB1D7XLiIVrsWMGuXnvBoGrCpcw6bEpUj0/VvBS+kL57Aabu0U2wjfKVwXwYhkAjwN8AD/ew2Ols1SBaeP6IGlh7g7n5u2BQWQqm4sK1y5PnXbCAZVZ0CkFbfPWLpbRUUKw78PSaGdwQJhRpkFmYtor3CDVwoJyhgySl8TaKzT9g7b5HgZWfFlAXyAF0cyAh8BrCs72ztlyS+PGINPbEwAvUJcVb9MqXX3xlzRLx8AOTa3gT0XqbL+ZA7cGmuW9Z60VbRt39RsgzCAxaP3mYH3y61/2om5dO2ojBtXSaQbmEm7fNBZxhNZcidatWe4WSpaUM1zHoBhhLK/J7wAgnTEsC3vxK33kovRuD+A2bwtQkhNlbG09WJhyAz0acneEUyPRTeBoaNyBU/NRst+D3Vb0X5cuJJs52ALwdtxzDQvxD/O42CJA8DvnAAAAAElFTkSuQmCC"/>
        <P><strong>Home</strong></P>
      </a>
      
      <a class="outer-link" routerLink="../admin-chat" (click) = "logout()"
        ><img src="assets/login.png" />
        <p><strong>Chat</strong></p>
      </a>
      <a class="outer-link" routerLink="../admin-userlist" 
        ><img src="assets/login.png" />
        <p><strong>Users</strong></p>
      </a>
      <a class="outer-link" routerLink="../admin-productlist" 
        ><img src="assets/login.png" />
        <p><strong>Products</strong></p>
      </a>
      
                          
      <hr />
    </div>
  </div>
  
  <!-- <div class="timer flex-div">
    <div class="flex-div">
      <p class="days time">{{day}}</p>
      <p class="hours time">{{hour+':'}}</p>
      <p class="mins time">{{mins+':'}}</p>
      <p class="seconds time">{{sec}}</p>
      <p class="ampm time">{{ampm}}</p>
    </div>
  </div> -->
  
