<app-navbar></app-navbar>


<div class="component">
  <div class="album py-5 bg-light ">
  
  <div class="container">

    <div class="flex-div margin-bottom">
      
      <a routerLink="" class="links">Home > </a>
      <a (click)="getCategoricalProducts(splitCategory)" class="links">{{splitCategory}} > </a>
      <a (click)="getCategoricalProducts(category)" class="links">{{subCategory}} </a>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
      <div *ngFor="let product of products;" >
      
      <div class="col" >
        
          <div class="card shadow-sm" >
            <button (click)="showProduct(product)" >
              <img src="{{'assets/'+product.uid+'.jpg'}}" alt="{{product.product_name}}" class="bid-products">
            </button>
            
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="assets/laptop.png" role="img" aria-label="Placeholder: laptops " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Laptops</text></svg> -->
  
            <div class="card-body ">
              <p class="card-text"><small>{{product.product_name}}</small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button (click)="showBidProduct(product)"  type="button" class="btn btn-sm btn-outline-secondary">Bid</button>
                  <button (click)="showProduct(product)" type="button" class="btn btn-sm btn-outline-secondary">Product Details</button>
                </div>
              <small class="text-muted"><i><b>{{"BDT "+product.current_price}}</b></i></small>
              </div>
            </div>
          </div>
      </div>
      
    </div>  
    
      
    </div>
  </div>
</div>
</div>


<div class="footer-component">
  <app-footer></app-footer>
</div>




