<app-navbar></app-navbar>


<div class="component">
        <div class="container">
            <div class="row">
                <ng-container >
                    <div class="card col-md-3">
                        <img src="{{'assets/'+productShow.uid+'.jpg'}}" alt="{{productShow.product_name}}">
                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productShow.product_name}}</h5>
                        <!-- <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productShow.product_details}}</p> -->
                        <p><strong>Price:</strong> ${{productShow.current_price}}</p>
                        <button class="btn btn-primary" (click)="showBidProduct()" >Bid</button>
                    </div>

                    <div class="detail-card">
                        <h1><b>Product Details</b></h1><br>
                        
                            <h3 class="product-title">{{productShow.product_name}}</h3>
                            <div class="rating">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                
                            </div>
                            <p class="product-description">{{productShow.product_details}}</p>
                            <h4 class="price">Base price:  BDT{{productShow.base_price}}</h4>
                            <h4 class="price">Current price:  BDT{{productShow.current_price}}</h4>
                        
                            
                        
                    </div>


                </ng-container>

            </div>
        </div>
</div>



<div class="footer-component">
    <app-footer></app-footer>
</div>

