<app-navbar></app-navbar>


<div class="component">
        <div class="container">
            <div class="row">
                <ng-container >
                    <div class="card col-md-3">
                        <img src="{{'assets/'+productShow.uid+'.jpg'}}" alt="{{productShow.product_name}}">
                        <!-- <img src="{{'assets/'+productShow.uid+'0'+'.jpg'}}" alt="{{productShow.product_name}}">
                        <img src="{{'assets/'+productShow.uid+'1'+'.jpg'}}" alt="{{productShow.product_name}}"> -->
                        
                        <div class="product-name">
                            <h5 style="text-align: center;">{{productShow.product_name}}</h5>
                            <!-- <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productShow.product_details}}</p> -->
                            <p style="text-align: center;"><strong>Price:</strong> {{productShow.current_price}} Tk</p>
                        </div>
                        
                        <button class="btn btn-primary" (click)="showBidProduct(productShow)" >Bid</button>
                    </div>

                    <div class="detail-card">
                        <h1 class="full-size fw-bold"><b>Product Details</b></h1><br>
                        
                            

                            <h3 class=" fs-4 fw-bold">{{productShow.product_name}}</h3>
                            
                            <pre class="product-description text-muted fw-bold">{{productShow.product_details}}</pre>
                            <!-- <div class="remaining-time">
                                <div class="time-head  ">
                                    <h6 class="fw-bold">Remaining Time : </h6>
                                </div>
                                <div class="time ">
                                    <i class="fw-bold"> 2hrs 25min 5s</i>
                                </div> 

                            </div>
                            <div class="remaining-time ">
                                    <div class="time-head fw-bold">
                                        <h6 class="fw-bold">Product Type: </h6>
                                    </div>
                                    <div class="time fw-bold">
                                        <i class="fw-bold">used</i>
                                    </div>
                            </div> -->
                        
                            <h5 class="fs-4 fw-bold text-muted">Base price: {{productShow.base_price}} Tk</h5>
                            <h5 class="fs-4 fw-bold text-muted">Current price: {{productShow.current_price}} Tk</h5>
                        
                            
                        
                    </div>


                </ng-container>

            </div>
        </div>
</div>



<div class="footer-component">
    <app-footer></app-footer>
</div>

