
<app-admin-navbar></app-admin-navbar>


<div class="component">




<!-- Trying Dashboard -->

    <main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <h4>Dashboard</h4>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
            <div class="card-body py-5 fw btn">
                <a routerLink="../admin-userlist" class="fw-bold">Users</a>
                <p class="fw-bold"></p>
                

            </div>
            
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-warning text-dark h-100">
            <div class="card-body py-5">
                <a routerLink="../admin-productlist" class="fw-bold">Products</a>
                <p class="fw-bold"></p>
            </div>
            
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
            <div class="card-body py-5">Total Capital</div>
            
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
            <div class="card-body py-5">Total Revenue</div>
            
            </div>
        </div>
        </div>
        
    </div>
    
    </main>

</div>



  