/* 


 .d-block{
    margin: 0px auto;
    width: 50%;
    height: 400px;
    position: relative;
}
span{
    background-color: black;
}
div.col{
    background-color: black;
}

.top-list{
   width: 150px;
   height:150px;
   margin:10px 10px;
   position: relative;
   
}
.categories-list{
   display: inline;
}
.top-categories-block{
    width: 64px;
}
.top-categories-inner{
   text-align: center;
   margin: 10px 10px;
}
.bid-products{
    height: 200px;
    width: 100%;
}

.card img:hover{
   transition: 0.3s ease-in-out;
   transform: scale(1.1);
}

img.product-image{
    width: 50%;
    margin: 10px 100px;
}
 */


 body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 20px;
    color: #000000;
    margin-top: 5%;
}
.proile-rating span{
    color: #855143;
    font-size: 20px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 1%;
    margin-top: 2%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

div.col-md-8{
    padding: 5px 20px;
    background-color: #77b1f0;;
    border: 2px solid rgba(rgb(88, 77, 236), rgb(74, 52, 134), rgb(121, 201, 233), alpha);
    
}
div.col-md-4{
    flex: 1;
    max-width: 45%;
}

button{
    width: 100%;
    margin: 1%;
}

.btn{
    color: #fff;
    background-color: #55a0a4;
    border-color: #232424;
}

div.remaining-time{
    display: flex;
    margin-top: 50px;
}
div.time{
    margin-left: 11px;
    margin-top: -1px;
    color: brown;
}
.card {
    margin-top: 15px;
    width: 44%;
    margin-bottom: 28px;
    border-radius: 0%;
}
div.detail-card{
    width: 55%;
    box-sizing: border-box;
    border-radius: 0%;
    flex: 1;
    padding-top: 2%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    
    margin-top: 15px;
    margin-bottom: 28px;
}
table{
    overflow-y: scroll;
    height: 200px;
    display: block;
    background-color: white;
    width: 312px;
    margin-left: 16%;
}

thead th{
    background-color: #fff;
    color: #000000;
    
    
}
/* thead, tbody { display: block; } */

tbody {
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden; /* Hide the horizontal scroll */
}
td{
    background-color: white;
    color: #000000;
}
.red{
    color: #ff606e;
}
.green{
    color: #2acc80;
 }
 .scroll-section {
    max-height: 100px;
    overflow-y: auto;
  }

  .component{
    margin-left:20% ;
    max-width: 1000px;
    margin-top: 5%;
  }
  .footer-component{
    margin-left: 14%;
    max-width: 1144px;
  
  }
  
