




 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 
 <app-navbar></app-navbar>

 <div class="component">
      <div class="container emp-profile">
              
                  <div class="row" >
                      <div class="card col-md-4">
                          <div class="profile-img">
                              <img src="{{'assets/'+productShow.uid+'.jpg'}}" alt="{{productShow.product_name}}"/>
                              
                          </div>
                          <div class="profile-work">
                            <h6 class="ml-2">
                                <b class="ml-3">{{productShow.product_name}}</b>
                            </h6>
                          </div>
                      </div>
                      <div class="detail-card col-md-8">
                          <p class="product-details fs-4 fw-bold">Product Details</p>
                          <div class="profile-head">
                              <pre>{{productShow.product_details}}</pre>
                                      
                                      <h6 class="proile-rating">Current Price : <span>{{productShow.current_price+" Taka"}}</span></h6>
                              
                          </div>
                          
                          
                              
                            <div class="tab-content profile-tab" id="myTabContent">

                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Your maximum Bid</label>
                                  </div>
                                  <input type="number" placeholder="Enter bid amount"  [(ngModel)] = "bid_price" [ngModelOptions] = "{standalone: true}">
                                  <!-- <div *ngIf="bid_price<=productShow.current_price" class="red"> You must bid more than current price</div>
                                  <div *ngIf="bid_price>productShow.current_price" class="green"> Its a valid amount</div> -->
                                  <!-- <select class="custom-select" id="inputGroupSelect01" [(ngModel)] = "bid_price" [ngModelOptions] = "{standalone: true}" required>
                                    <option selected>Select Bids</option>
                                    
                                    <option *ngFor="let bid of bids" value="{{bid}}">{{"BDT "+bid}}</option>
                                    
                                  </select> -->
                              </div>
                              
                              <div class="place-bid">
                                  <button class="btn btn-primary" (click)="makeBid()"  type="submit">
                                      Place Bid
                                  </button>
                              </div> 
                              <div class="user-bids">
                                <button (click)="getBids()" class="btn btn-primary">
                                  Show Top Bids
                              </button>
                              <br>
                              
                              <!-- <table *ngIf="clicked" class="table table-hover table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Serial No.</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Amount</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of currentBids;let i = index;">
                                    <td scope="row">{{i}}</td>
                                    <td>{{data.bidderId}}</td>
                                    <td>{{data.bidAmount}} Tk</td>
                                    
                                  </tr>
                                  
                                </tbody>
                              </table> -->

                              <table *ngIf="clicked" class="table table-bordered ">
                                <thead>
                                  <tr>
                                    <th scope="col">Position</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Bid Price</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of currentBids;let i = index;">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{data.bidderId}}</td>
                                    <td>{{data.bidAmount}}</td>
                                    
                                  </tr>
                                  
                                </tbody>
                              </table>

                              </div>
                              
                          </div>
                      </div>
                      
                  </div>
                  
                        
          </div>
 </div>


 <div class="footer-component mt-2">
   <app-footer></app-footer>
 </div>


