
/* .dropdown-menu{
    display: block;
    min-width: 6.5rem;
} */
.home{
    margin-top: 5%;
}
.dropdown-menu > .dropforprice:hover > .subdrop{
    display: block;
}

.subdrop{
    display: none;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 85%;
    left: 0%;
}
.dropdown-menu>.dropforprice:hover > .subdrop{
    display: block;
}
.flex-div{
    align-items: center;
    display: flex;
}
.image img{
    width: 85%;
    height: 80%;
    left: 5%;
    margin-left: 10%;
    margin-top: 2%;
    position: absolute;
    top: 0%;
}
.links{
    margin-top: 2%;
    text-align: center;
}
.category-link img{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.start-page{
    width: 100%;
    height: 250px;
    background-color: rgba(156, 186, 212, 0.534);
    margin-top: 3%;
}
.navbar{
    display: block;
} 

.categorical-products{
    margin-top: 5%;
}
.image-links{
    margin-left: 5%;
}
.link-name{
    margin-left: 20%;
    color: #000;
}
.full-size{
    width: 100.3%;
    margin-left: -1.5%;
    margin-top: -2%;
}
.some-space{
    margin-bottom: 3%;
}
.popular-items{
    margin-top: 1%;
    margin-left: 1%;
}
.move-left{
    margin-left: -5%;
}
.smartphones{
    margin-left: 2%;
}
.bikes{
    margin-left: 30%;
}



/* Source: http://tutorialzine.com/2013/06/digital-clock/ */



/*-------------------------
	The clocks
--------------------------*/


#clock{
	width: 41%;
    padding: 27px;
    position: relative;
    margin-left: 25%;
    margin-top: 3%;
}

#clock:after{
	content:'';
	position:absolute;
	width:400px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


#clock .display{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 54px;
    
}

#clock.light{
	background-color:#3a63775c;;
	color:#272e38;
}

#clock.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}


#clock.light .display{
	background-color:#b9deec;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}



#clock.dark .display{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

.display div{
    margin-left: 2%;
}

div.hours{
    font-size: 60px;
    margin-top: -9%;
    color: rgb(161, 13, 13);
}
div.mins{
    font-size: 60px;
    margin-top: -9%;
    color: rgb(161, 13, 13);
}
div.sec{
    font-size: 60px;
    margin-top: -9%;
    color: rgb(161, 13, 13);
}
.remaining-time{
    margin-left: 9%;
}


/*home*/

 .d-block{
     margin: 0px auto;
     width: 50%;
     height: 400px;
     position: relative;
 }
 span{
     background-color: black;
 }
 div.col{
     background-color: black;
 }
 
 .top-list{
    width: 150px;
    height:150px;
    margin:10px 10px;
    position: relative;
    
 }
 .categories-list{
    display: inline;
 }
 .top-categories-block{
     width: 64px;
 }
 .top-categories-inner{
    text-align: center;
    margin: 10px 10px;
 }
 .bid-products{
     height: 200px;
     width: 100%;
 }

 .card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
 }
 .card{
     height: 350px;
 }
ul{
    list-style: none;
}
.category-menu >li,.category-menu>a{
    display: inline-block;
  }
  .category-menu a{
    text-decoration: none;
    color: #fff;
    
  }
  .category-menu a:hover{
    
    color: rgb(250, 246, 246);
  } 
  .category-menu>li:hover>.submenu li:hover{
    background-color: #7b8488;
    color: rgb(255, 255, 255);
  }
  
  
  .submenu{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 70%;
    left: 70%;
    height: auto;
    display: none;
  }
  .submenu li,.submenu2 li{
    
    color: #ffffff;
    background-color: #181313;
    padding-left: 10%;
  }
  .submenu2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 92%;
    height: 100%;
    left: 90%;
    top: 0;
    display: none;
  }
  .submenu>ul>li>a:hover{
    background-color: rgb(214, 46, 46);
    /* text-decoration: underline; */
    color: #912222;
    background-size: 50%;
  }
  .submenu2>ul>li>a:hover{
    background-color: rgb(209, 43, 43);
    /* text-decoration: underline; */
    color: #e9dada;
    background-size: 95%;
    
  }
  .category-menu>li:hover>.submenu{
    margin-top: -15%;
    display: block;
    size: 15%;
    border: 1px solid rgb(255, 255, 255);
  } 
  .submenu>li:hover>.submenu2{
    display: block;
    size: 15%;
    border: 1px solid rgb(255, 255, 255);
  } 
  .outer-link img{
    width: 20px;
    margin-right: 20px;
    
  }
  .direct-icon{
    margin-left: -1px;
  }
  
   .outer-link:hover{
    color: #000;
  }
  /* .outer-link p:hover{
    background-color: #5a5a5a;
  } */
  
  .outer-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: #ffffff;
  } 

  .sorting-button{
    margin-left: 88%;
    margin-top: -6%;
  }
  /* .dropdown-menu{
      display: block;
      min-width: 6.5rem;
  } */
  .ssubdrop{
    display: none;
    top: 0%;
    right: 100%;
  
  }
  .usedrop{
    position: absolute;
    z-index: 1000;
    display: block;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  .usedrop>.dropforprice:hover > .ssubdrop{
    display: block;
}

.card-text{
  font-size: 12px;
  font-style: initial;
}










 
 




