
<app-navbar></app-navbar>

<div class="component">
      <section class="vh-100" style="background-color: #e8ebf1;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="Avatar"
                      class="img-fluid my-5"
                      style="width: 80px;"
                    />
                    <h5><b>{{user.name}}</b></h5>
                    <p><b>{{user.username}}</b></p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Email</h6>
                          <p class="text-muted">{{user.email}}</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">{{user.phone_number}}</p>
                        </div>
                      </div>
                      <h6>Address</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <p class="text-muted">{{user.address}}</p>
                          
                        </div>
                      
                      </div>
                      <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





    <!-- Trying Dashboard -->

    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5 fw ">
                <p class="fw-bold">Total Sells</p>
                <p class="fw-bold">{{totalSells}}</p>
                <p class="fw-bold">Total income : {{totalIncome}}</p>

              </div>
              <div class="card-footer d-flex">
                <button (click)="swapValue()" class="view-details btn">View Details</button> 
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-dark h-100">
              <div class="card-body py-5">Total Buys
                <p class="fw-bold">Total Buys</p>
                <p class="fw-bold">{{totalBuys}}</p>
                <p class="fw-bold">Total money spent : {{totalMoneySpent}}</p>
              </div>
              <div class="card-footer d-flex">
                View Details
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body py-5">Payment Requests</div>
              <div class="card-footer d-flex">
                <button (click)="swapValue()" class="view-details btn">View Details</button> 
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
              <div class="card-body py-5">Recent Bids</div>
              <div class="card-footer d-flex">
                <button (click)="swapValue()" class="view-details btn">View Details</button> 
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Selling Performance
              </div>
              <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Bidding Performance
              </div>
              <div class="card-body">
                

                  <!-- <div class="page-content page-container" id="page-content">
                      <div class="padding">
                          <div class="row">
                              <div class="container-fluid d-flex justify-content-center">
                                  <div class="col-sm-8 col-md-6">
                                      <div class="card">
                                          <div class="card-header">Pie chart</div>
                                          <div class="card-body" style="height: 420px">
                                              <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                  <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                                  </div>
                                                  <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                                  </div>
                                              </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                -->


              </div>
            </div>
          </div>
        </div>
        
      </div>
    </main>
</div>



<div class="footer-component">
  <app-footer></app-footer>
</div>

  




  