
<app-navbar></app-navbar>

<div class="component">
      <section class="vh-100" style="background-color: #e8ebf1;">
        <div class="container py-5 h-100">
          <div class="edit-profile position">
              <button (click)="editProfile()" class="btn btn-light ">Edit Profile</button>
            </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <h5><b>{{userdata.name}}</b></h5>
                    <p><b>{{userdata.username}}</b></p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Email</h6>
                          <p class="text-muted font-weight-bold">{{userdata.email}}</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted font-weight-bold">{{userdata.phone_number}}</p>
                        </div>
                      </div>
                      <h6>Address</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <p class="text-muted font-weight-bold">{{userdata.address}}</p>
                          
                        </div>
                      
                      </div>
                      <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





    <!-- Trying Dashboard -->

    <main class="mt-5 pt-3 stats">
      <div class="container-fluid">
        
        <div class="row mydiv">
          
          
          
          <div class="recent-bids col-md-3 mb-3">
            
                <button (click)="getPreviousBids()" class="view-details btn btn-danger">View Recent Bids</button> 
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              

          </div>
          <table *ngIf="click" class="table table-bordered ">
            <thead>
              <tr>
                <th scope="col">SL no</th>
                <th scope="col">Image</th>
                <th scope="col">Bid Amount</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bids of recentBids;let i = index;">
                <th scope="row">{{i}}</th>
                <td>
                  <a class="photo" (click)="showProduct(bids.productId)" >
                          <img src="{{'assets/'+bids.productId+'.jpg'}}" alt="{{bids.productId}}" class="bid-products">
                      </a>
                  </td>
                <td><p class="price fs-4 fw-bold">{{bids.bidAmount}}.00 Tk</p></td>
                
              </tr>
              
            </tbody>
          </table>
          <!-- <ol class="winning-products">
                        
            <div class="flex-div">
                <p class="fs-4 small h4 sl">Serial</p>
                <p class="fs-4 small h4 im">Image</p>
                
                <p class="text-muted h4 prc">Price</p>

            </div>
            <hr class="hr-move">
            
              <li  *ngFor="let bids of recentBids" class="list">
                  <div class="flex-div table-bordered">
                      <a class="photo" (click)="showProduct(bids.productId)" >
                          <img src="{{'assets/'+bids.productId+'.jpg'}}" alt="{{bids.productId}}" class="bid-products">
                      </a>
                      
                      <p class="price text-muted fw-bold">{{bids.bidAmount}}.00 Tk</p>

                  </div>
                  <hr>
              </li>
            
            
    </ol> -->
        </div>
        
        
        
      </div>
    </main>
</div>


  




  