.gradient-custom {
    /* fallback for old browsers */
    background: #7cecf0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(138, 245, 231), rgb(154, 245, 240));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(145, 235, 227), rgb(149, 247, 247))
  }

  .col-lg-6{
    width: 87%;
    margin: -50px;
  }
  .component{
    margin-left:20% ;
    max-width: 1000px;
    margin-top: 5%;
  }
  .footer-component{
    margin-left: 14%;
    max-width: 1144px;
  
  }
  img{
    height: 68%;
    width: 66%;
  }
 
  .stats{
    margin-top: -5%;
  }
  .vh-100{
    max-height: 75vh !important;
  }
  .edit-profile{
    position: relative;
    top: -7%;
    left: 7%;
    
  }
  .container{
    position: relative;
  }
  


.h4 {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 800 !important;
}
.product-name {
  width: 100%;
  margin-left: 12%;
  padding: 6%;
}
.price{
  margin-left: 2%;
  padding: 6%;
}.photo{
  padding: 2%;
}

img {
  width: 70px;
  height: 70px;
  object-fit: fill;
  margin-left: 5%;
  margin-top: 2%;
}
img:hover{
  transition: 0.1s ease-in-out;
  transform: scale(1.07);
}

.text-muted {
  font-size: 10px;
}

.textmuted {
  color: #6c757d;
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.btn.btn-primary {
  width: 100%;
  height: 55px;
  border-radius: 0;
  padding: 13px 0;
  background-color: black;
  border: none;
  font-weight: 600;
}

.btn.btn-primary:hover .fas {
  transform: translateX(10px);
  transition: transform 0.5s ease
}


.fw-900 {
  font-weight: 900;
}

::placeholder {
  font-size: 12px;
}

.ps-30 {
  padding-left: 30px;
}

.h4 {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 800 !important;
}

.textmuted,
h5,
.text-muted {
  font-family: 'Poppins', sans-serif;
}

.flex-div{
  display: flex;
}

.textmuted,
h5,
.text-muted {
  font-family: 'Poppins', sans-serif;
}

.flex-div{
  display: flex;
}

.im{
  margin-left: 24%;
}
.nm{
  margin-left: 27%;
}
.prc{
  margin-left: 29%;
}
.sl{
  margin-left: 7%;
}

.list{
  margin-left: 10%;
  padding-left: 5%;
}
.hr-move{
  margin-left: 15%;
}



