.gradient-custom {
    /* fallback for old browsers */
    background: #7cecf0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(138, 245, 231), rgb(154, 245, 240));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(145, 235, 227), rgb(149, 247, 247))
  }

  .col-lg-6{
    width: 87%;
    margin: -50px;
  }
  .component{
    margin-left:20% ;
    max-width: 1000px;
    margin-top: 5%;
  }
  .footer-component{
    margin-left: 14%;
    max-width: 1144px;
  
  }





