<app-admin-navbar></app-admin-navbar>

<div class="component">
    
    

<div class="container">
    <div class="row">
        <ng-container >
            <div class="card col-md-3">
                <img src="{{'assets/'+productShow.uid+'.jpg'}}" alt="{{productShow.product_name}}">
                
                <div class="product-name">
                    <h5 style="text-align: center;">{{productShow.product_name}}</h5>
                    <!-- <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{productShow.product_details}}</p> -->
                    <p style="text-align: center;"><strong>Price:</strong> {{productShow.current_price}} Tk</p>
                </div>
                
                <button class="btn btn-primary" (click)="update(productShow)" >Update</button>
            </div>

            <div class="detail-card">
                <h1 class="full-size fw-bold"><b>Product Details</b></h1><br>
                        
                            

                <h3 class=" fs-4 fw-bold">{{productShow.product_name}}</h3>
                
                <p class="product-description text-muted fw-bold">{{productShow.product_details}}</p>
                    <h4 class="price text-muted">Base price : {{productShow.base_price}} Tk</h4>
                    <h4 class="price text-muted">Current price : {{productShow.current_price}} Tk</h4>
                   
                    
                
            </div>


        </ng-container>

    </div>
    
</div>



</div>